<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heroiclabs.nakamatest">

    <application
        android:allowBackup="true">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Nakama Test"
            android:exported="true">
            <meta-data
            android:name="android.app.lib_name"
            android:value="nakama-test" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>