cmake-build-*
build
out
.idea
/test/Engine
CMakeUserPresets.json
local.properties
.cxx

# Ignore Gradle project-specific cache directory
android/.gradle

# Ignore Gradle build output directory
android/build
android/app/.cxx
.DS_Store
