{
  "version": 3,
  "configurePresets": [
    {
      "name": "android-dev",
      "inherits": ["android"],
      "cacheVariables": {
        "ANDROID_ABI": "arm64-v8a",
        "ANDROID_PLATFORM": "21",
        "ANDROID_NDK": "D:/opt/android-sdk/ndk/23.2.8568313"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "android-dev-release",
      "configurePreset": "android-dev",
      "configuration": "MinSizeRel"
    }
  ]
}
