# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.cxx/

# Logcat output from test runs
logcat-output.tmp

# Pre-built native libraries
/jniLibs/

# Local SDK path
local.properties
