name: Build Windows
on: [workflow_call, workflow_dispatch]
jobs:
  setup_vcpkg:
      uses: ./.github/workflows/setup_vcpkg.yml
  build_windows:
    timeout-minutes: 30
    strategy:
      matrix:
        build_type: [MinSizeRel, Debug]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cmake-build
        with:
          preset: win-x64
          build_type: ${{ matrix.build_type }}