name: Build Android
on: [workflow_call, workflow_dispatch]
jobs:
  android_matrix:
    timeout-minutes: 30
    strategy:
      matrix:
        preset: ["android-armeabi-v7a-host_linux-x64", "android-arm64-v8a-host_linux-x64", "android-x64-host_linux-x64"]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - uses: ${GITHUB_WORKSPACE}/nakama-cpp/.github/actions/cmake-build
        with:
          preset: ${{ matrix.preset }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}