name: Build Windows
on: [workflow_call, workflow_dispatch]
jobs:
  build_windows:
    timeout-minutes: 30
    strategy:
      matrix:
        build_type: [MinSizeRel, Debug]
        preset: [win-x64, win-x86]

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: nakama-cpp
      - uses: ./nakama-cpp/.github/actions/setup-windows
      - uses: ./nakama-cpp/.github/actions/setup-vcpkg
        with:
          github_token: ${{ secrets.github_token }}
          vcpkg-path: vcpkg
      - uses: ./nakama-cpp/.github/actions/build-library-and-upload
        with:
          nakama-cpp-path: nakama-cpp
          preset: ${{ matrix.preset }}
          build_type: ${{ matrix.build_type }}
      - if: failure()
        uses: ./nakama-cpp/.github/actions/handle-failure
        with:
          nakama-cpp-path: nakama-cpp
          vcpkg-path: vcpkg