name: Build Linux
on: [workflow_call, workflow_dispatch]
jobs:
  build_linux:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cmake-build
        with:
          preset: linux-amd64

