name: Build OSX
on: [workflow_call, workflow_dispatch]
jobs:
  setup_vcpkg:
      uses: ./.github/workflows/setup_vcpkg.yml
  build_osx:
    timeout-minutes: 30
    strategy:
      matrix:
        preset: ["macosx-x64-host_x64", "macosx-arm64-host_x64"]
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: ./ci/setup-osx.sh
        shell: bash
      - uses: ./.github/actions/cmake-build
        with:
          preset: ${{ matrix.preset }}
