name: Build Linux
on: [workflow_call, workflow_dispatch]
jobs:
  build_linux:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: nakama-cpp
      - uses: ./nakama-cpp/.github/actions/setup-ubuntu
      - uses: ./nakama-cpp/.github/actions/build-platform-and-upload
        with:
          working-directory: nakama-cpp
          preset: ${{ matrix.preset }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
