name: Build Android
on: [workflow_call, workflow_dispatch]
jobs:
  build_android:
    timeout-minutes: 30
    strategy:
      matrix:
        preset: ["android-armeabi-v7a-host_linux-x64", "android-arm64-v8a-host_linux-x64", "android-x64-host_linux-x64"]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-ubuntu
      - uses: ./.github/actions/setup-vcpkg
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - id: build
        uses: ./.github/actions/cmake-build
        with:
          preset: ${{ matrix.preset }}
          path: nakama-cpp
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.build.outputs.artifact_name }}
          path: ${{ steps.build.outputs.artifact_name }}.7z
          retention-days: 2
      - if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.build.outputs.artifact_name }}-workdir-debug
          path: |
            ./nakama-cpp/build
            ./vcpkg
          retention-days: 1