name: Setup Vcpkg
on: [workflow_call]
jobs:
  setup:
      timeout-minutes: 5
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v3
          with:
            repository: microsoft/vcpkg
            ref: "2578040872f99afe504cc5634285693c9cbf088d"
            fetch-depth: 1
        - if: runner.os == 'Linux'
          run: >
            sudo eatmydata "${GITHUB_WORKSPACE}/vcpkg/bootstrap-vcpkg.sh"
          shell: bash
        - name: Setup NuGet API key
          shell: bash
          run: >
            $( type -p mono || :) `vcpkg fetch nuget | tail -n 1`
            setapikey "${{ inputs.GITHUB_TOKEN }}"
            -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
        - run: echo "VCPKG_BINARY_SOURCES=clear;nuget,GitHub,readwrite" >> $GITHUB_ENV
          shell: bash
        - name: 'Setup NuGet Credentials'
          shell: bash
          run: >
            mono=$( type -p mono || :);
            nuget="$mono $(vcpkg fetch nuget | tail -n 1)";
            $nuget sources list  | grep -q ${{ github.repository_owner }} || $nuget sources add
            -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
            -storepasswordincleartext
            -name "GitHub"
            -username "heroiclabs"
            -password "${{ inputs.GITHUB_TOKEN }}"