name: Test OSX
on: [workflow_dispatch, workflow_call]
jobs:
  macos:
      timeout-minutes: 30
      runs-on: macos-12
      strategy:
        matrix:
          preset: ["macosx-x64-host_x64", "macosx-arm64-host_x64"]
      steps:
        - uses: actions/checkout@v3
          with:
            path: nakama-cpp
        - uses: ./nakama-cpp/.github/actions/setup-vcpkg
          with:
            github_token: ${{ secrets.github_token }}
            vcpkg-path: vcpkg
        - uses: ./nakama-cpp/.github/actions/build-library-and-upload
          with:
            nakama-cpp-path: nakama-cpp
            preset: ${{ matrix.preset }}
        - uses: ./nakama-cpp/.github/actions/build-test-and-run
          with:
            nakama-cpp-path: nakama-cpp
            preset: ${{ matrix.preset }}
        - if: failure()
          uses: ./nakama-cpp/.github/actions/handle-failure
          with:
            nakama-cpp-path: nakama-cpp
            vcpkg-path: vcpkg