name: Test OSX
on: [workflow_dispatch, workflow_call]
jobs:
  test_macos:
      timeout-minutes: 30
      runs-on: macos-12
      strategy:
        matrix:
          preset: ["macosx-x64-host_x64", "macosx-arm64-host_x64"]
      env:
        NAKAMA_TEST_DEVELOPMENT_TEAM: ${{ secrets.NAKAMA_TEST_DEVELOPMENT_TEAM }}
        BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
        P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      steps:
        - name: Install the Apple certificate and provisioning profile
          run: |
            # create variables
            CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
            PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
            KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
            # import certificate and provisioning profile from secrets
            echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
            echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH
            # create temporary keychain
            security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
            security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
            security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
            # import certificate to keychain
            security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
            security list-keychain -d user -s $KEYCHAIN_PATH
        - uses: actions/checkout@v3
          with:
            path: nakama-cpp
        - run: |
            brew install pkg-config
          shell: bash
        - uses: ./nakama-cpp/.github/actions/setup-vcpkg
          with:
            github_token: ${{ secrets.github_token }}
            vcpkg-path: vcpkg
        - uses: ./nakama-cpp/.github/actions/build-library-and-upload
          with:
            nakama-cpp-path: nakama-cpp
            preset: ${{ matrix.preset }}
        - uses: ./nakama-cpp/.github/actions/build-test-and-run
          with:
            nakama-cpp-path: nakama-cpp
            preset: ${{ matrix.preset }}
            testrunner-pat: ${{ secrets.GH_PAT }}
            native-tool-options: "-allowProvisioningUpdates"
        - if: failure()
          uses: ./nakama-cpp/.github/actions/handle-failure
          with:
            nakama-cpp-path: nakama-cpp
            vcpkg-path: vcpkg