name: Test Linux
on: [workflow_dispatch, workflow_call]
jobs:
  build_linux:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: nakama-cpp
      - uses: ./nakama-cpp/.github/actions/setup-ubuntu
      - uses: ./nakama-cpp/.github/actions/setup-vcpkg
        with:
          github_token: ${{ secrets.github_token }}
          vcpkg-path: vcpkg
      - uses: ./nakama-cpp/.github/actions/build-test-and-run
        with:
          nakama-cpp-path: nakama-cpp
          preset: linux-amd64
      - if: failure()
        uses: ./nakama-cpp/.github/actions/handle-failure
        with:
          nakama-cpp-path: nakama-cpp
          vcpkg-path: vcpkg