name: Test All
on: [workflow_dispatch]
jobs:
  test_android:
    uses: ./.github/workflows/test_linux.yml
  test_osx:
    uses: ./.github/workflows/test_osx.yml
  test_windows:
    uses: ./.github/workflows/test_windows.yml